<%-layout("/layouts/boilerPlate")%>
<body>
    <h3>listing details</h3>
    <ul>
        <li><%=listing.title%></li>
        <li><%=listing.description%></li>
<li> &#x20B9; <%= listing.price.toLocaleString('en-IN') %></li>
        <li><%=listing.location%></li>
        <li><%=listing.country%></li>

    </ul>
   <a href="/listings/<%=listing._id%>/edit">EDIT</a>
   <form action="/listings/<%=listing._id%>?_method=DELETE"  method="POST">
    <button>DELETE</button>
   </form>
    
</body>
